<footer class="footer bg-dark py-3 mt-auto text-center">
    <div class="container">
        <span class="text-muted">
            &copy; YelpCamp 2021 - Student: <a href="https://github.com/mateuscondefeitosa">Mateus Conde Feitosa</a>
        </span>
    </div>
</footer>